<div class="face-snap-card">
    <!-- : String interpolation -->
    <h2>{{ faceSnap.titel }}</h2>
    <p> Mise en ligne le : {{ faceSnap.date }}</p>
    <h3 *ngIf="faceSnap.localisation"> >Photo prise à {{faceSnap.localisation}}</h3>
    <h3>{{ faceSnap.description }}</h3>
    <h4>👍{{ faceSnap.nb_snap }} 
    <p>
        <button (click)="onAddSnap()"> {{ button_text }} </button>
    </p>
    </h4>
    <!-- : attribute binding -->
    <img [src] = "faceSnap.img_url" alt="faceSnap.titel">
</div>

