


    
@font-face {
    font-family: "Poppins_s";
    src: url("./typo/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins_xs";
    src: url("./typo/Poppins-light.ttf");
}

@font-face {
    font-family: "Poppins_m";
    src: url("./typo/Poppins-Medium.ttf");
}


    